<div class=" w-100 the-body d-flex justify-content-center text-center py-5 margin-top ">

    <div class="container">
        <h2 class="fs-1 fw-bolder color">CONTACT SECTION</h2>
        <div>
            <span class="color "></span>
            <i class="fa-solid fa-star color"></i>
            <span class="color"></span>
        </div>

        <div class="mt-4 w-50 m-auto">

            <div class="to-label">
                <label for="input-1" class=" w-100 ps-2">userName</label>
                <input id="input-1" class="form-control py-3 " type="text" placeholder="userName">
            </div>

            <div class="to-label mt-3">
                <label for="input-2" class=" w-100 ps-2">userAge</label>
                <input id="input-2" class="form-control py-3" type="text" placeholder="userAge">
            </div>

            <div class="to-label mt-3">
                <label for="input-3" class=" w-100 ps-2">userEmail</label>
                <input form="input-3" class="form-control py-3" type="text" placeholder="userEmail">
            </div>


            <div class="to-label mt-3">
                <label for="input-4" class=" w-100 ps-2">userPassword</label>
                <input id="input-4" class="form-control py-3" type="password" placeholder="userPassword">
            </div>




          <div class="div-btn">
            <button class="mt-4 text-light px-2 py-2 rounded-2 btn-color border-0">Send Massage</button>
          </div>


        </div>

    </div>

</div>