
.color
{
    color: #2C3E50;
}

span
{
    background-color: #2C3E50;;
    display: inline-block;
    height: 4px;
    width: 80px;
    vertical-align: middle;
}

.form-control
{
    background-color: transparent; 
    border: 0; 
    border-bottom: 1px solid #dee2e6;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.form-control:focus
{
    background-color: transparent;
    border: 0; 
    border-bottom: 1px solid #dee2e6;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.to-label
{
    position: relative;
}

label
{
    position: absolute;
    top: 17px;
    left: 4px;
    text-align: left;
    opacity: 0;
    transition: 1s top , 0.5s opacity ;
    cursor: text !important;
}

.label-input
{
    top :-10px;
    opacity: 1;
}

.div-btn
{
    text-align: left !important;

}

.btn-color
{
    background-color: #1abc9c;
}

.margin-top
{
    margin-top: 85px !important;
}