<div class=" w-100 the-body d-flex justify-content-center text-center py-5 margin-top">

    <div class="container">

        <div class="layer d-flex justify-content-center align-items-center d-none">
            <img class="image" src="./assets/image/poert1.png" alt="">
        </div>

        <h2 class="fs-1 fw-bolder color">PORTFOLIO COMPONENT</h2>
        <div>
            <span class="color "></span>
            <i class="fa-solid fa-star color"></i>
            <span class="color"></span>
        </div>

        <div class="row mt-4 g-3">
            
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="parent-image">
                     <img class="w-100 layer-img" src="./assets/image/poert1.png" alt="">

                     <div class="for-image">
                        <i class="text-light fa-solid fa-plus fa-6x"></i>
                     </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="parent-image">
                     <img class="w-100 layer-img" src="./assets/image/port2.png" alt="">

                     <div class="for-image">
                        <i class="text-light fa-solid fa-plus fa-6x"></i>
                     </div>
                </div>
            </div>



            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="parent-image">
                     <img class="w-100 layer-img" src="./assets/image/port3.png" alt="">

                     <div class="for-image">
                        <i class="text-light fa-solid fa-plus fa-6x"></i>
                     </div>
                </div>
            </div>



            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="parent-image">
                     <img class="w-100 layer-img" src="./assets/image/poert1.png" alt="">

                     <div class="for-image">
                        <i class="text-light fa-solid fa-plus fa-6x"></i>
                     </div>
                </div>
            </div>



            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="parent-image">
                     <img class="w-100 layer-img" src="./assets/image/port2.png" alt="">

                     <div class="for-image">
                        <i class="text-light fa-solid fa-plus fa-6x"></i>
                     </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="parent-image">
                     <img class="w-100 layer-img" src="./assets/image/port3.png" alt="">

                     <div class="for-image">
                        <i class="text-light fa-solid fa-plus fa-6x"></i>
                     </div>
                </div>
            </div>


            




              

            
        </div>

    </div>

</div>
